<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--  Foqus Finance Setup -->
    <add key="miktex-path" value="C:\Program Files (x86)\MiKTeX 2.9\miktex\"/>
    <add key="pandoc-path" value="C:\Projects\Help\Tools\"/>
    <add key="template-xml" value="C:\Projects\Help\FoqusHelp\Product Data\FoqusFinance\template.xml"/>
    <add key="content-xml" value="C:\Projects\Help\FoqusHelp\Product Data\FoqusFinance\FF8.xml" />
    <add key="structure-xml" value="C:\Projects\Help\FoqusHelp\Product Data\FoqusFinance\structure.xml"/>
    <add key="projectname" value="FoqusFinance"/>
    <add key="helppage-html" value="c:\projects\help\foqushelp\Product Data\FoqusFinance\HelpPage.html"/>
    <add key="input-toc" value="c:\projects\help\foqushelp\Product Data\FoqusFinance\input-toc.xml"/>
    <add key="output-toc" value="c:\projects\help\foqushelp\Product Data\FoqusFinance\output-toc.xml"/>
    <add key="output-path-helpserver" value=".\output"/>
    <add key="output-path-manual" value=".\output"/>
    <add key="input-markdown-path" value="" />
    <add key="input-images-path" value="c:\projects\help\foqushelp\Product Data\FoqusFinance\Images\" />
    <add key="help-server-image-path" value="" />
    <add key="image-style-helppage" value="width=&quot;650&quot;"/>
    <!--
    <add key="miktex-path" value="C:\Program Files (x86)\MiKTeX 2.9\miktex\"/>
    <add key="pandoc-path" value="C:\Projects\Help\Tools\"/>
    <add key="template-xml" value="C:\Projects\Help\FoqusHelp\Product Data\Glomaris\template.xml"/>
    <add key="content-xml" value="C:\Projects\Help\FoqusHelp\Product Data\Glomaris\Glomaris.xml" />
    <add key="structure-xml" value="C:\Projects\Help\FoqusHelp\Product Data\Glomaris\structure.xml"/>
    <add key="projectname" value="Glomaris"/>
    <add key="output-path-manual" value=".\output"/>
    <add key="filepath" value="c:\Projects\Help\FoqusHelp\Product Data\Glomaris\"/>
    -->
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>